.card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;;
    gap:15px;
}
.logo{
    height:75px;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
    border: 2px lightgray solid;
    width:150px;
    border-radius: 15px;;
    background-color: rgb(214, 243, 255);
    font-weight: bold;
    height:150px;
    color:rgb(93, 93, 93)
}
.board{
    display:flex;
    flex-direction: column;
    gap:20px;
}

button{
    background-color: rgb(73, 190, 240);
}

.scoreboard{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}